# Logslogs*.lognpm-debug.log*.cnum# Diagnostic reports (https://nodejs.org/api/report.html)report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json# Compiled executables and binaries*.js*.map*.wasm# Runtime data.pids*.d.ts# Dependency directoriesnode_modules/# TypeScript cache.tsbuildinfo# Optional npm cache directory.npm/# Optional eslint cache.eslintcache# Optional stylelint cache.stylelintcache# Output of 'npm pack'*.tgz# Yarn lockfilev2yarn.lock# Environments.env.local.env.development.local.env.test.local.env.production.local.env.staging.local.env# Prisma database files*.db*.db-journal# NestJS outputdist/# Angular output/dist/.angular/cache/coverage/# IDEs and other tools.idea/.vscode/.DS_StoreThumbs.db